.heading {
  font: 3rem "RSMedium";
  color: var(--green);
  -webkit-text-stroke: 0.09rem black;
  margin-bottom: 1%;
}

.AchievementWrapper{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .achievementCard{
    margin: 0 auto;
  }
}

.achievementCard{
  width: 22rem;
  height: max-content;
  padding: 1rem;
  padding-top: 0.5rem;
  background: #13c99e;
  color: var(--blue);
  border: 1px solid black;
  font: 1.35rem 'RSRegular';
  margin: 2% 0;
}
.type{
  font-size: 2rem;
}

.Certificate{
  width: 100%;
  height: 13.5rem;
  border: 1px solid black;
}
.InfoDiv{
  margin-top: 5%;
}
.date{
  background: var(--blue);
  font: 0.7rem 'RSExLight';
  padding: 0.3rem 0.5rem;
  color: white;
  border: 1px solid black;
  float: left;
}
.Atag{
  background: var(--blue);
  font: 0.8rem 'RSExLight';
  padding: 0.3rem 0.5rem;
  color: white;
  border: 1px solid black;
  float: right;
}