.aboutContainer{
    margin-top: 15%;
    /* border: 2px solid white; */
}

.aboutWrapper{
    margin-top: 3.5%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.aboutWrapper img{
    width: 20%;
    height: auto;
    margin: auto;
    border-radius: 50%;
    border: 0.15rem solid var(--green);
}

.aboutMe{
    width: 65%;
    font: 1.6rem 'RSRegular';
}
.aboutMe p{
    outline: 1px black;
    line-height: 2.25rem;
    width: 85%;
    margin: auto;
}

@media screen and (max-width: 720px) {
    .aboutContainer{
        margin-top: 20%;
    }
    .aboutWrapper{
        flex-direction: column;
        margin-top: 10%;
    }

    .aboutWrapper img{
        width: 50%;
    }
    .aboutMe{
        margin-top: 10%;
        width: 95%;
    }
    .aboutMe p{
        width: 100%;
    }
}